<!DOCTYPE html>
<html>
	<head>
		<title>Drools fools</title>
		<meta charset="UTF-8"/>
		<script src="js/vue-2.6.10.min.js"></script>
		<script src="js/axios-1.4.0.min.js"></script>
		<script src="js/lodash-4.17.21.min.js"></script>
		<script src="js/marked-0.3.6.min.js"></script>
		<link rel="stylesheet" href="bootstrap-3.4.1.min.css" crossorigin="anonymous"/>
		<link rel="stylesheet" href="droolsfools.css" />	
</head>
<body>
	<div id="app" class="container">
		<div class="row header">
			<div class="col-sm-3 navbarSprite">
				<img alt="Drools logo" src="DroolsLogo200px.png">
				</div>
				<div class="col-sm-9">
					<h1>Drools Fools</h1>
				</div>
			</div>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Drools Fools</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="rule-admin.html">Rule admin page</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="panel panel-default">
				<div class="panel-heading">Drools rule engine example</div>
				<div class="panel-body">
This is a just a Drools example. Basic example:

					<a href="https://en.wikipedia.org/wiki/Hyper_Text_Coffee_Pot_Control_Protocol">teapot</a> rule.
If error code is 418 and message is 'tea'. You can change the rules on

					<a href="rule-admin.html">rule admin</a> page.

					<ul>
						<li @click="add200">when ERROR_code=200 then result.message='OK' </li>
						<li @click="add418">when ERROR_code=418 AND message='tea' then result.message='Tea time'</li>
						<li @click="add404">when ERROR_code=404 then result.message='Not found'</li>
						<li>Any other case rule won't run, and basic message will be UNKNOW</li>
					</ul>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Incoming data form</div>
					<div class="panel-body">
						<div class="container-fluid my-form-padding" >
							<span class="col-md-2"> ERROR code:</span>
							<input class="col-md-2" v-model="errorCode" @keypress="isNumber($event)"/>
						</div>
						<div class="container-fluid my-form-padding">
							<span class="col-md-2"> VALUE:</span>
							<input class="col-md-2" v-model="value" />
						</div>
						<div class="container-fluid my-form-padding">
							<button class="btn btn-primary" @click="triggerRules">Trigger rules</button>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">Result</div>
					<div class="panel-body">
						<div v-for="re in resultEvents">
							{{ re.timestamp }} - {{ re.message }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    info: null,
                    myres: -1.0,
                    resultEvents: [],
                    errorCode: 200,
                    value: 'OK',
                    loading: false
                }
            },
            mounted() {
			  window.setInterval(()=>{
			      this.loading = true;
                    var url = window.location.origin;
                    axios.get(url + '/api/result-event/get-result-events')
                        .then(response => {
                            this.resultEvents = response.data;
                        })
                        .catch(error => {
                            console.log(error);
                            this.loading = false;
                        });
			  }, 2000)
			},
            methods: {
				add200: function(){
					this.errorCode = 200;
					this.value = 'anything can be here';
				},
                add418: function() {
                	this.errorCode = 418;
					this.value = 'tea';
                },
                add404: function() {
                	this.errorCode = 404;
					this.value = 'GET my-little-homepage.html';
                },
                triggerRules: function() {
                    this.loading = true;
                    var url = window.location.origin;
                    axios.post(url + '/api/trigger_rules/DEFAULT', {
                            errorCode: this.errorCode,
                            value: this.value
                        })
                        .then(response => {
                            this.myres = response.data;
                            this.loading = false;
                            console.log(this.myres);
                        })
                        .catch(error => {
                            console.log(error);
                            this.loading = false;
                        });
                },
                 isNumber: function(evt) {
                  evt = (evt) ? evt : window.event;
                  var charCode = (evt.which) ? evt.which : evt.keyCode;
                  if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();;
                  } else {
                    return true;
                  }
                }
            }

        })
    
		</script>
	</body>
</html>
